<div class="modal-header">
    <button type="button" class="close" aria-label="Fechar" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modalLabel">Pessoa</h4>
</div>
<div class="modal-body text-left">
    <div>
        <p>Nome: {{ person.nome }} </p>
        <p>Idade: {{ person.idade }}</p>
        <p>Data de Nascimento: {{ person.dataNascimento }}</p>
        <p>CNH: {{ person.motorista }}</p>
        <p>Fumante: {{ person.fumante! ? "Sim" : "Não" }}</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
</div>