<h1>Estado Federativo</h1>

<table class="table table-striped table-bordered table-hover">
    <tbody>
        <tr>
            <th class="text-center">Id</th>
            <th>Nome</th>
            <th>Sigla</th>
            <th class="text-center">
                <a [routerLink]="['/states/create']" href="#" title="Novo" alt="Novo" class="btn btn-xs btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> Novo
                </a>
            </th>
        </tr>
        <tr *ngFor="let state of states">
            <td class="text-center">{{state.id}}</td>
            <td>{{state.nome}}</td>
            <td>{{state.sigla}}</td>
            <td class="text-center" style="width: 300px">
                <a href="#" title="Editar" alt="Editar" class="btn btn-xs btn-info"
                    [routerLink]="['/states/edit', state.id]">
                    <i class="fa fa-edit" aria-hidden="true"></i> Editar</a>&nbsp;
                <a href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger" (click)="delete($event, state)">
                    <i class="fa fa-times" aria-hidden="true"></i> Remover</a>
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="states.length==0">Nenhuma Estado cadastrado.</p>