html,
body {
    background: #f3f3f3;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

.calculator-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(97, 97, 97);
}

input[type="text"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="text"]:invalid {
    border-color: red;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="button"] {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background: #007BFF;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
}

input[type="button"]:last-child {
    margin-right: 0;
}