<form>

    Número 1: <input #numero1 type="text" /><br />
    Número 2: <input #numero2 type="text" /><br />

    <input type="button" value="Somar" (click)="calcular('soma', numero1.value, numero2.value)" /><br />
    <input type="button" value="Subtrair" (click)="calcular('subtracao', numero1.value, numero2.value)" /><br />
    <input type="button" value="Multiplicar" (click)="calcular('multiplicacao', numero1.value, numero2.value)" /><br />
    <input type="button" value="Dividir" (click)="calcular('divisao', numero1.value, numero2.value)" /><br /><br />

    Resultado: <input type="text" [value]="resultShow" readonly />
</form>